Package: com.sassoty.keytransition
Name: KeyTransition
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Change keyboards by swiping!
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty & AOkhtenberg <sassoty@gmail.com>
Section: Tweaks
Depiction: http://repo.sassoty.com/deps.php?pkg=com.sassoty.keytransition
