<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This hides the globe key that switches the keyboard.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>HideGlobeKey</string>
			<key>label</key>
			<string>Hide Globe/Emoji Key</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This makes the up swipe show the previous keyboard and the down swipe show the next keyboard.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>SwappedDirections</string>
			<key>label</key>
			<string>Invert Swipe Directions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Vibrate when you swipe to change keyboards. You may select how long you want it to vibrate for (in milliseconds) with the slider above.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>VibrateChange</string>
			<key>label</key>
			<string>Vibrate on Change</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BetterPSSliderTableCell</string>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition/preferencechanged</string>
			<key>default</key>
			<integer>100</integer>
			<key>min</key>
			<integer>50</integer>
			<key>max</key>
			<integer>1000</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>VibrationLength</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Active Swipe Areas</string>
			<key>footerText</key>
			<string>Select the region on the keyboard where the swipe gestures work. The keyboard is divided into three equal columns.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>ActiveAreaLeft</string>
			<key>label</key>
			<string>Left Column</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>ActiveAreaMiddle</string>
			<key>label</key>
			<string>Middle Column</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>ActiveAreaRight</string>
			<key>label</key>
			<string>Right Column</string>
		</dict>
	</array>
	<key>title</key>
	<string>Extras</string>
</dict>
</plist>
