<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>No respring required.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This hides the globe key that switches keyboards.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>HideGlobeKey</string>
			<key>label</key>
			<string>Hide Globe Key</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This makes the up swipe show the previous keyboard and the down swipe show the next keyboard.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>SwappedDirections</string>
			<key>label</key>
			<string>Invert Swipe Directions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<!--<key>footerText</key>
			<string>For changes to take effect within an app, you must kill it first.</string>-->
		</dict>
		<dict>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>Animation</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>label</key>
			<string>Animation</string>
			<key>validTitles</key>
			<array>
				<string>Random</string>
				<string>Fade</string>
				<string>Vertical Slide</string>
				<string>Horizontal Slide</string>
				<string>Shrink</string>
				<string>Grow</string>
				<string>Card Stack (Shrink &amp; Grow)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>673</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>KeyTransition © Noah Saso &amp; Ariel Okhtenberg 2015</string>
		</dict>
	</array>
	<key>title</key>
	<string>KeyTransition</string>
</dict>
</plist>
