<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>No respring required.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>icon</key>
			<string>Enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.sassoty.keytransition</string>
			<key>default</key>
			<integer>0</integer>
			<key>key</key>
			<string>Animation</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>PostNotification</key>
			<string>com.sassoty.keytransition.prefschanged</string>
			<key>label</key>
			<string>Animation</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Random</string>
				<string>Fade</string>
				<string>Vertical Slide</string>
				<string>Horizontal Slide</string>
				<string>Shrink</string>
				<string>Grow</string>
				<string>Card Stack (Shrink &amp; Grow)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>674</integer>
				<integer>673</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>icon</key>
			<string>Animation.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ExtraListController</string>
			<key>label</key>
			<string>Extras</string>
			<key>icon</key>
			<string>Extras.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>KeyTransition © Noah Saso &amp; Ariel Okhtenberg 2015</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>KTMakersListController</string>
			<key>label</key>
			<string>The Makers</string>
			<key>icon</key>
			<string>Makers.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>KeyTransition</string>
</dict>
</plist>
